<app-pages-header [secondTitle]="(project$ | async)?.name"></app-pages-header>

<!-- Dashboard screen DEFAULT -->
<div *ngIf="(project$ | async)?.projectWidgets; else dashboardNoWidget">
    <div *ngIf="(project$ | async).projectType !== projectType.SLIDESHOW; else slideshow">
        <app-dashboard-screen *ngIf="(project$ | async)"
                              [project]="(project$ | async)"
                              [readOnly]="false">
        </app-dashboard-screen>
    </div>

    <!-- Dashboard screen SLIDESHOW -->
    <ng-template #slideshow>
        <app-dashboard-rotation [projectId]="(project$ | async).id" [childs]="(project$ | async).slides" [addSlide]="refreshFunc">
            <ng-container *ngFor="let child of (project$ | async).slides;">
                <ng-container *carouselItem>
                    <app-dashboard-screen *ngIf="child"
                                          [project]="child"
                                          [readOnly]="false">
                    </app-dashboard-screen>
                </ng-container>
            </ng-container>
        </app-dashboard-rotation>
    </ng-template>
</div>

<!-- NO WIDGET Display the add card, if no widget inside the project -->
<ng-template #dashboardNoWidget>
  <div fxLayout="col wrap" fxLayoutAlign="start start">
    <!-- Add Dashboard Card -->
    <mat-card id="add-dashboard-card" fxFlex="30%">
      <a (click)="openAddWidgetDialog()">
        <mat-card-content fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-icon>add_box</mat-icon>
        </mat-card-content>
      </a>
      <mat-card-actions align="start">
        <button #addDashboardButton mat-button (click)="openAddWidgetDialog()"><app-translate [key]="'widget.add'"></app-translate></button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>