<app-pages-header [secondTitle]="(project$ | async)?.name"></app-pages-header>

<!-- Dashboard screen -->
<div *ngIf="(project$ | async)?.projectType.toString().match('DEFAULT'); else slideshow">
<app-dashboard-screen *ngIf="(project$ | async)"
                      [project]="(project$ | async)"
                      [readOnly]="false">
</app-dashboard-screen>
</div>
<ng-template #slideshow>
    <app-dashboard-rotation [projectId]="(project$ | async)?.id" [childs]="(childs | async)">
        <ng-container *ngFor="let child of (childs | async);">
            <ng-container *carouselItem>
                <app-dashboard-screen *ngIf="child"
                                      [project]="child"
                                      [readOnly]="false">
                </app-dashboard-screen>
            </ng-container>
        </ng-container>
    </app-dashboard-rotation>
</ng-template>

<!-- Display the add card, if no widget inside the project -->
<ng-template #dashboardNoWidget>
  <div fxLayout="col wrap" fxLayoutAlign="start start">
    <!-- Add Dashboard Card -->
    <mat-card id="add-dashboard-card" fxFlex="30%">
      <a (click)="openAddWidgetDialog()">
        <mat-card-content fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-icon>add_box</mat-icon>
        </mat-card-content>
      </a>
      <mat-card-actions align="start">
        <button #addDashboardButton mat-button (click)="openAddWidgetDialog()"><app-translate [key]="'widget.add'"></app-translate></button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>