<div *ngIf="showControls" class="div-buttons">
    <mat-checkbox (change)="playHandler()" [checked]="true">Autoplay</mat-checkbox>
    <button mat-icon-button (click)="prev()" id="button-left"><img src="../../../../../assets/images/arrow-prev.png" class="icon-button" /></button>
    <button mat-icon-button (click)="next()"><img src="../../../../../assets/images/arrow-next.png" class="icon-button" /></button>
    <button mat-icon-button (click)="openAddSlideDialog()" class="toRight"><img src="../../../../../assets/images/add-slide.png" class="icon-button toLeft"/>Add Slide</button>
</div>

<div class="div-nav-dots" #divDots>
    <h3 #slideName class="slideName"></h3>
    <div #slidecircles class="dots">
        <img *ngFor="let item of items;let i=index;" src="../../../../../assets/images/slide.png" (click)="clickDots(i)" alt="slide circle" class="slide_circle" />
    </div>
</div>

<section class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
    <ul class="carousel-inner" #carousel [ngStyle]="{'width': items.length*100+'%'}" >
        <li *ngFor="let item of items;" class="carousel-item">
            <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
        </li>
    </ul>
</section>


